body {
    font-family: sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  label {
    display: block;
  }
  
  nav a {
    display: inline-block;
    margin: 1em;
  }
  
  form div {
    margin: 1em;
    display: inline-block;
  }

  img {
    width: 50%;
    height: 50%;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .row {
    display: flex;
    margin: 10px;
    width: 30%;
  }

  .user {
    display: flex;
    justify-content: space-evenly;
  }

  html,
body,
#my-map {
  width: 500px;
  height: 500px;
  margin: 0;
}