* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: "Oswald", sans-serif;
  display: flexbox;
}

html {
  background-image: url("/websitebackground.png");
  background-size: cover;
  background-repeat: "no-repeat";
  background-attachment: fixed;
}

body {
  align-items: center flex-end;
  outline-color: crimson;
  color: indigo;
  font-weight: 2000;
  border-radius: 3px;
  border-color: black purple;
  font-size: large;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
  font-weight: bold;
  font-size: medium;
  text-align: center;
}

.single > img {
  width: 500px;
  height: 500px;
}

img.image {
  width: 200px;
  height: 200px;
  margin-right: 10px;
  border-radius: 3px 0 0 3px;
  border: 2px solid gold;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  opacity: 0.9;
}
.featured_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row {
  display: flex;
  flex-shrink: 1;
  border-color: lightgray;
}

.user {
  display: flex;
  justify-content: space-evenly;
}

#map-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

#my-map {
  width: 1270px;
  height: 500px;
  border-color: gold;
}

.navbar {
  height: 400px;
  width: fit-content;
  text-align: center;
  justify-content: center;
}

.logo {
  border-image-slice: fill;
  border-radius: 25% 50% / 50%;
  transition: background-color 2s ease-out 100ms;
}

.tabbed-list {
  text-align: center;
}

small {
  margin-left: 1em;
  font-size: 1.25em;
}